#master {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameOver {
    display: none;
    width: 800px;
    height: 600px;
    outline: black solid 2px;
    font-size: 10vh;
}

.upperBar {
    flex: 0 1 10vh;
    width: 100%;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray;
    padding: 1px;
}

.mainPortion {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sideBar {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
    border: 1px solid black;
    padding: 5px;
    max-height: 600px;
}

.sideTitle {
    font-size: 4vh;
    font-weight: 200;
    border-bottom: 1px dotted black;
}

.mainStuff {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

}


#mainGraph {
    width: 800px;
    height: 600px;
    outline: black solid 2px;
}


.header {
    font-size: 9vh;
    font-style: italic;
}


.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.highScore {
    font-size: 10vh;
}

.guessList {
    list-style-type: none;
    padding: 0;
    margin: 2px;
    overflow: auto;
}

.priorGuess {
    padding: 2px;
    margin: 1px;
    display: flex;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
}